@import url(https://fonts.googleapis.com/css?family=Inter|Roboto+Mono);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size:16px;
}
body{
    background-color: #0e0e0c;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}
#header{
    width: 100%;
    height: 100vh;

}
.container{
    padding: 1.3vh 10% 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
}
nav .logo{
    font-size: 4rem;
    font-weight: 800;
    color: #CDC1FF;
}
nav .nav-nums{
    font-family: "Roboto Mono", monospace;
    color: #CDC1FF;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    line-height: 1rem;
}

nav ul li a{
    color: #c9d3d5;
    text-decoration: none;
    font-size: 1rem;
    transition: 200ms all;
}

/*nav ul li a:before{*/
/*    color: #ffffff;*/
/*}*/
nav ul li a:hover{
    color: #CDC1FF;
    font-size: 1rem;

}

.header-txt{
    margin-top: 10%;
    font-family: "Roboto Mono", monospace;
    color: #CDC1FF;
}
.header-txt h1{
    margin-top: 2%;
    font-family: "Inter", sans-serif;
    font-size: 5rem;
    color: #bae5cc;
}
.header-txt p{
    color: #c9d3d5;
    margin-top: 3%;
    line-height: 2rem;
}

/*------------------ about ------------------*/
#about{
    padding: 20vh 0;
    color: #c9d3d5;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-txt{
    flex-basis: 50%;
    line-height: 2rem;
}
.subtitle{
    display: flex;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 5%;
    letter-spacing: -0.1rem;
    font-family: "Inter", sans-serif
}
.subtitle-nums{
    font-family: "Roboto Mono", monospace;
    color: #CDC1FF;
    font-size: 2.5rem;
    margin-right: 0.75rem;
    position: relative;
    top: 0.1rem;
}
.subtitle-line{
    width: 100%;
    height: 0.01vh;
    background-color: #5a5570;
    margin-left: 1rem;
    margin-top: 1.3rem;
}
.about-img{
    flex-basis: 30%;
}
.about-img img{
    aspect-ratio: 7/8;

    object-fit: cover;
    width: 18vw;
}
.tab-titles{
    display: flex;
    margin: 3vh 0 5vw;
}
.tab-links{
    margin-right: 10vw;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 0.1rem;
    background-color: #adffcd;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 3vh 0;
}
.tab-contents ul li span{
    color: #CDC1FF;
}